@model Blibox.Vendedor

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Vendedores")"><i class="fa fa-dashboard"></i> Vendedores</a></li>
            <li class="active">Nuevo Vendedor</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <!-- SELECT2 EXAMPLE -->
        <div class="box box-default">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-header with-border">
                <h3 class="box-title">Nuevo Vendedor</h3>
            </div><!-- /.box-header -->
            <div class="box-body">
                <div class="row">
                    <div class="col-md-3">
                        <label>Nombre</label>
                        <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                </div>
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nombre (obligatorio)" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                        </div>
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <label>Apellido</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control", @placeholder = "Apellido (obligatorio)" } })
                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                            </div><!-- /.form-group -->
                        
                    </div><!-- /.col -->
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <label>Telefono</label>
                        <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @placeholder = "Telefono" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <label>Celular</label>
                        <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mobile" } })
                                @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                        </div><!-- /.form-group -->
                    </div><!-- /.col -->

                    <div class="col-md-3">
                        <label>Email</label>
                        <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Correo electrónico" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div><!-- /.form-group -->

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <label>Domiclio</label>
                        <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control", @placeholder = "Domicilio" } })
                                @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
                             </div><!-- /.form-group -->
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <label>Codigo Postal</label>
                        <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Codigo_postal, new { htmlAttributes = new { @class = "form-control", @placeholder = "Codigo Postal" } })
                                @Html.ValidationMessageFor(model => model.Codigo_postal, "", new { @class = "text-danger" })
                            </div><!-- /.form-group -->
                    </div><!-- /.col -->
                </div>
                <br />
                <div class="row">
                    <div class="col-md-3">
                        <label>Localidad</label>
                        <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control", @placeholder = "Localidad" } })
                                @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-danger" })
                                </div>
                    </div><!-- /.col -->
                    <div class="col-md-3">
                        <label>Provincia</label>
                        <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control", @placeholder = "Provincia" } })
                                @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                             </div><!-- /.form-group -->
                    </div><!-- /.col -->
                </div>
                <br />
                <div class="row">
                    <div class="col-md-9">
                        <label>Observacion</label>
                        <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control", @placeholder = "Observaciones" } })
                                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
                            </div><!-- /.form-group -->
                    </div><!-- /.col -->

                    
                </div>
                <br />
                <div class="form-group">
                         <input type="submit" value="Crear" class="btn btn-success" />
                 </div>

                </div>
            </div>
    }


                @*@using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <h4>Vendedor</h4>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(model => model.ID_vendedor, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.ID_vendedor, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ID_vendedor, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Apellido, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Apellido, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Domicilio, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Domicilio, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Localidad, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Localidad, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Provincia, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Provincia, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Celular, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Celular, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Fecha_alta, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Fecha_alta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Fecha_alta, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Observacion, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Observacion, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Codigo_postal, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Codigo_postal, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Codigo_postal, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Create" class="btn btn-default" />
                            </div>
                        </div>
                    </div>
                }*@

        <div>
            <button type="button" class="btn btn-info">@Html.ActionLink("Volver", "Index")</button>
        </div>
    </section>
</div><!-- /.content-wrapper -->
