@model Blibox.Vendedor

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Vendedores</a></li>
            <li class="active">@ViewBag.Message</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form", @class = "form form-horizontal" }))
        { 
            @Html.AntiForgeryToken()

            <div class="box box-default">
                <div class="form-horizontal" style="padding:10px;">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ID_vendedor)
                    <div class="box-header with-border">
                        <h3 class="box-title">Modificación de datos del vendedor</h3>
                    </div><!-- /.box-header -->

                    <div class="box-body">
                        <div class="form-group">
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label">Nombre</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>
                                        </div>
                                        @Html.EditorFor(
                                    model => model.Nombre,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @id = "nombre",
                                            @class = "form-control",
                                            data_fv_row = ".dobleEntrada",
                                            data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el nombre del vendedor",
                                            required = "required",
                                            @placeholder = "Nombre (obligatorio)"
                                        }
                                    })
                                    </div>
                                </div>
                            </div><!-- /.col -->
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label no-clear-md">Apellido</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                        model => model.Apellido,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "apellido",
                                                @class = "form-control",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el apellido del vendedor",
                                                required = "required",
                                                @placeholder = "Apellido (obligatorio)"
                                            }
                                        })
                                    </div><!-- /.form-group -->
                                </div><!-- /.form-group -->
                            </div><!-- /.col -->
                        </div>

                        <div class="form-group">
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label">Teléfono</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-phone fa-fw" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                        model => model.Telefono,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @id = "telefono",
                                                @class = "form-control",
                                                data_fv_row = ".dobleEntrada",
                                                @placeholder = "Telefono"
                                            }
                                        })
                                    </div><!-- /.form-group -->
                                </div><!-- /.col -->
                            </div>
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label no-clear-md">Celular</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-mobile fa-fw" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                                model => model.Celular,
                                                new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @id = "celular",
                                                        @class = "form-control",
                                                        data_fv_row = ".dobleEntrada",
                                                        @placeholder = "Celular"
                                                    }
                                                })
                                    </div><!-- /.col -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label">Email</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-envelope fa-fw" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                                model => model.Email,
                                                new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @id = "email",
                                                        @class = "form-control",
                                                        data_fv_row = ".dobleEntrada",
                                                        @placeholder = "Correo electrónico"
                                                    }
                                                })
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label no-clear-md">Domicilio</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                                model => model.Domicilio,
                                                new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @id = "domicilio",
                                                        @class = "form-control",
                                                        data_fv_row = ".dobleEntrada",
                                                        @placeholder = "Domicilio"
                                                    }
                                                })
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label">Código Postal</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                                model => model.Codigo_postal,
                                                new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @id = "codigo_postal",
                                                        @class = "form-control",
                                                        data_fv_row = ".dobleEntrada",
                                                        @placeholder = "Código postal"
                                                    }
                                                })
                                    </div><!-- /.form-group -->
                                </div><!-- /.col -->
                            </div>
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label  no-clear-md">Localidad</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                                model => model.Localidad,
                                                new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @id = "localidad",
                                                        @class = "form-control",
                                                        data_fv_row = ".dobleEntrada",
                                                        @placeholder = "Localidad"
                                                    }
                                                })
                                    </div>
                                </div><!-- /.col -->
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label">Provincia</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-home fa-fw" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                                model => model.Provincia,
                                                new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @id = "Provincia",
                                                        @class = "form-control",
                                                        data_fv_row = ".dobleEntrada",
                                                        @placeholder = "Provincia"
                                                    }
                                                })
                                    </div><!-- /.form-group -->
                                </div><!-- /.col -->
                            </div>
                            <div class="dobleEntrada">
                                <label class="col-md-2 control-label no-clear-md">Observación</label>
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i></div>

                                        @Html.EditorFor(
                                                model => model.Observacion,
                                                new
                                                {
                                                    htmlAttributes = new
                                                    {
                                                        @id = "observacion",
                                                        @class = "form-control",
                                                        data_fv_row = ".dobleEntrada",
                                                        @placeholder = "Observaciones"
                                                    }
                                                })
                                    </div><!-- /.form-group -->
                                </div><!-- /.col -->
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-1">
                                <input type="submit" value="Actualizar" class="btn btn-primary" />
                            </div>
                        </div>
                        <br />
                    </div>
            </div>
        </div>
        }
               

        <p>
            
            <button type="button" class="btn btn-info ">@Html.ActionLink("Volver", "Index")</button>
        </p>


</section>
</div><!-- /.content-wrapper -->