@model Blibox.Proveedor

<div class="box-body">
    <div class="form-group">
        <div class="dobleEntrada">
            @Html.Label("Razon social", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Razon_social,
                    new
                    {
                    htmlAttributes = new
                    {
                    @class = "form-control",
                    @id = "razonSocial",
                    data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la razón social",
                    required = "required",
                    data_fv_row = ".dobleEntrada",
                    autofocus = "autofocus"
                    }
                    })
                </div>
            </div>
        </div>

        <div class="dobleEntrada">
            @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Contacto,
                    new
                    {
                    htmlAttributes = new
                    {
                    @class = "form-control",
                    @id = "contacto",
                    data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el contacto",
                    required = "required",
                    data_fv_row = ".dobleEntrada",
                    }
                    })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="dobleEntrada">
            @Html.LabelFor(model => model.Domicilio, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Domicilio,
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @id = "domicilio",
                            data_fv_row = ".dobleEntrada",

                            data_fv_stringlength_message = "<i class='glyphicon glyphicon-info-sign'></i> Domicilio no válido",
                            data_fv_stringlength_min = 0,
                            data_fv_stringlength = "true"
                        }
                    })
                </div>
            </div>
        </div>

        <div class="dobleEntrada">
            @Html.LabelFor(model => model.Localidad, htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Localidad,
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @id = "localidad",
                            data_fv_row = ".dobleEntrada",

                            data_fv_stringlength_message = "<i class='glyphicon glyphicon-info-sign'></i> Localidad no válida",
                            data_fv_stringlength_min = 0,
                            data_fv_stringlength = "true"
                        }
                    })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="dobleEntrada">
            @Html.LabelFor(model => model.Provincia, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Provincia,
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @id = "provincia",
                            data_fv_row = ".dobleEntrada",

                            data_fv_stringlength_message = "<i class='glyphicon glyphicon-info-sign'></i> Provincia no válida",
                            data_fv_stringlength_min = 0,
                            data_fv_stringlength = "true"
                        }
                    })
                </div>
            </div>
        </div>

        <div class="dobleEntrada">
            @Html.LabelFor(model => model.Telefono, htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Telefono,
                    new
                    {
                    htmlAttributes = new
                    {
                    @class = "form-control",
                    @id = "telefono",
                    data_fv_row = ".dobleEntrada",
                    type = "number",
                    data_fv_numeric = true,
                    data_fv_numeric_message = "<i class='glyphicon glyphicon-alert-sign'></i> El teléfono debe ser numérico"
                    }
                    })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="dobleEntrada">
            @Html.LabelFor(model => model.Celular, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Celular,
                    new
                    {
                    htmlAttributes = new
                    {
                    @class = "form-control",
                    @id = "celular",
                    data_fv_row = ".dobleEntrada",
                    type = "number",
                    data_fv_numeric = true,
                    data_fv_numeric_message = "<i class='glyphicon glyphicon-alert-sign'></i> El celular debe ser numérico"
                    }
                    })
                </div>
            </div>
        </div>

        <div class="dobleEntrada">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Email,
                    new
                    {
                    htmlAttributes = new
                    {
                    @class = "form-control",
                    @id = "email",
                    data_fv_row = ".dobleEntrada",
                    type = "email",
                    data_fv_emailaddress = true,
                    data_fv_emailaddress_message = "<i class='glyphicon glyphicon-alert-sign'></i> Debe ingresar un email válido"
                    }
                    })
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="dobleEntrada">
            @Html.LabelFor(model => model.CUIT, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.CUIT,
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @id = "CUIT",
                            data_fv_row = ".dobleEntrada",
                            type = "number",
                            data_fv_numeric = true,
                            data_fv_numeric_message = "<i class='glyphicon glyphicon-alert-sign'></i> El teléfono debe ser numérico"
                        }
                    })
                </div>
            </div>
            </div>

            <div class="dobleEntrada">
                @Html.LabelFor(model => model.IVA, htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        @Html.EditorFor(
                    model => model.IVA,
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @id = "Iva",
                            data_fv_row = ".dobleEntrada",
                            type = "text",

                            data_fv_stringlength_message = "<i class='glyphicon glyphicon-info-sign'></i> Iva no válido",
                            data_fv_stringlength_min = 0,
                            data_fv_stringlength = "true"
                        }
                    })

                    </div>
                </div>
            </div>
        </div>

    <div class="form-group">
        <div class="dobleEntrada">
            @Html.LabelFor(model => model.Observaciones, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-4">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                    @Html.EditorFor(
                    model => model.Observaciones,
                    new
                    {
                        htmlAttributes = new
                        {
                            @class = "form-control",
                            @id = "observaciones",
                            data_fv_row = ".dobleEntrada",

                            data_fv_stringlength_message = "<i class='glyphicon glyphicon-info-sign'></i> Observaciones no válidas",
                            data_fv_stringlength_min = 0,
                            data_fv_stringlength = "true",
                    type = "text",
                        }
                    })
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        
        <div class="col-md-offset-2">
            <input type="submit" value="Grabar" class="btn btn-new" />
        </div>
    </div>
</div>
<script type="text/javascript">
    validarForm('#form');
    //inicializarDatePicker('#fechaPrecioLista', false, false);
</script>