@model Blibox.Encabezado_Factura

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Encabezado_Factura</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subtotal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_iva_responsable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_iva_responsable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor_inscripto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor_inscripto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Total)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Total)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_movimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_movimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Razon_Social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Razon_Social)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Condicion_venta.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Condicion_venta.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Detalle_factura.Nro_factura)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Detalle_factura.Nro_factura)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vendedor.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vendedor.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Nro_factura }) |
    @Html.ActionLink("Back to List", "Index")
</p>
