  <!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                
                @if (User.IsInRole("Administrador"))
                {
                <img class="img-circle" alt="User Image"  src="~/Content/dist/img/admin_icon.jpg" />
                }
                else  
                 if (User.IsInRole("Operador"))
                 {
                   <img class="img-circle" alt="User Image" src="~/Content/dist/img/operator_icon.jpg" />
                 }
                else
                {
                    <img class="img-circle" alt="User Image" src="~/Content/dist/img/avatar5.png" />
                }
            </div>
            <div class="pull-left info">
                @*<p>Alexander Pierce</p>*@
                <a href="#"><i class="fa fa-circle text-success"></i> @User.Identity.Name.ToUpper() Online</a>
            </div>
        </div>
        <!-- search form -->
        @*<form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Buscar...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </form>*@
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" style="color: #d4e15b">
            <li class="header"><a href="@Url.Action("Index", "Home")" style="color: #d4e15b">MENU PRINCIPAL</></a></li>
            <li class="@*active*@ treeview" >

                <a href="#" style="color: #fff">
                    <i class="fa fa-files-o"></i> <span>Administracion</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
                <ul class="treeview-menu">
                    @*<li><a href="@Url.Action("Manuales", "Documentacion")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Manuales</></a></li>*@
                    <li><a href="@Url.Action("Index", "Articulos")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Articulos</></a></li>
                    <li><a href="@Url.Action("Index", "Vendedores")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Vendedores</></a></li>
                    <li><a href="@Url.Action("Index", "Clientes")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Clientes</></a></li>
                    <li><a href="@Url.Action("Index", "Proveedor")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Proveedores</></a></li>
                  
                    <li><a href="@Url.Action("Index", "Pedidos")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Pedidos</></a></li>
                    <li><a href="@Url.Action("Index", "Matrices")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Matrices</></a></li>
                    <li><a href="@Url.Action("Index", "Rubros")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Rubros</></a></li>
                    <li><a href="@Url.Action("Index", "Cortantes")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Cortantes</></a></li>
                    <li><a href="@Url.Action("Index", "Materiales")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Materiales</></a></li>
                    <li><a href="@Url.Action("Index", "Marcos")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Marcos</></a></li>
                    @if (User.IsInRole("Administrador"))
                    {
                       @: <li><a href="@Url.Action("Index", "Roles")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Cuentas de usuario</a></li>
                    }

                </ul>
            </li>

       @if (User.IsInRole("Administrador"))
       {
           
          @: <li class="treeview">
    
                 <a href="#" style="color: #fff">
                    <i class="fa fa-share"></i> <span>Facturacion</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
           @:     <ul class="treeview-menu">

           @:         <li><a href="@Url.Action("Index", "Factura")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Facturas</></a></li>
           @:         <li><a href="@Url.Action("Index", "NotaCredito")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Nota de Credito</></a></li>
            @:        <li><a href="@Url.Action("Index", "NotaDebito")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Nota de Debito</></a></li>


           @:     </ul>
           @: </li>

        @: <li class="treeview">


            <a href="#" style="color: #fff">
                <i class="fa fa-share"></i> <span>Cuentas Corrientes</span> <i class="fa fa-angle-left pull-right"></i>
            </a>
                @: <ul class="treeview-menu">


                    @: <li><a href="@Url.Action("Index", "CtaCteClientes")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Clientes</></a></li>
                    @: <li><a href="@Url.Action("Index", "CtaCteProveedores")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Proveedores</></a></li>
                  
                    
                @: </ul>
         @: </li>

        @:<li class="treeview">

            <a href="@Url.Action("Index", "Compras")" style="color: #fff">
                <i class="fa fa-share"></i> <span>Compras</span> 
            </a>
            @*@:<ul class="treeview-menu">
                @:<li><a href="@Url.Action("Create", "Compras")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Nueva Compra</></a></li>
                  
            @:</ul>*@
         @:</li>





          @*@:  <li class="treeview">
                <a href="#" style="color: #fff">
                    <i class="fa fa-calculator"></i> <span>Presupuestos</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
            @:    <ul class="treeview-menu">
            @:        <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Altas</></a></li>
            @:        <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Modificaciones</></a></li>
            @:        <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Bajas</></a></li>
            @:        <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Consultas</></a></li>
           @:      </ul>
          @:  </li>

        @:    <li class="treeview">
                <a href="#" style="color: #fff">
                    <i class="fa fa-file-text"></i> <span>Cotizaciones</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
         @:       <ul class="treeview-menu">
          @:          <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Altas</></a></li>
          @:          <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Modificaciones</></a></li>
          @:          <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Bajas</></a></li>
          @:          <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Impresion</></a></li>
          @:      </ul>
        @:    </li>*@

        @:    <li class="treeview">
                <a href="#" style="color: #fff">
                    <i class="fa fa-bar-chart"></i> <span>Consultas</span> <i class="fa fa-angle-left pull-right"></i>
                </a>
       @:         <ul class="treeview-menu">
      @:              <li><a href="@Url.Action("Index", "Reportes")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Detalle de Ventas</></a></li>
        @:            <li><a href="@Url.Action("DetalleXArticulo", "Reportes")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Detalle Ventas por Articulo</></a></li>
       @:             <li><a href="@Url.Action("IVAVentas", "Reportes")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>IVA Ventas</></a></li>
       @*@:             <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>IVA Ventas</></a></li>*@
        @:            @*<li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Detalle Compras</></a></li>*@
        @*@:            <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>IVA Compras</></a></li>*@
        @:            @*<li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Ranking de Clientes</></a></li>*@
        @*@:            <li><a href="@Url.Action("", "")" style="color: #d4e15b"><i class="fa fa-circle-o"></i>Comisiones</></a></li>*@



        @:        </ul>
     @:       </li>
       }

            @*<li><a href="documentation/index.html"><i class="fa fa-book"></i> <span>Documentation</span></a></li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>*@
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>