
@model Blibox.Articulo


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Articulos")"><i class="fa fa-dashboard"></i> Articulos</a></li>
            <li class="active">Altas</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form", @class = "form form-horizontal" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="box box-blibox box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">Nuevo Articulo</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div><!-- /.box-header -->

                <div class="box-body">
                    <div class="form-group">
                        <div class="dobleEntrada">
                            <label class="col-md-2 control-label">ID Cliente</label>
                            <div class="col-md-4">
                                @Html.DropDownList(
                                     "ID_cliente",
                                     null,
                                     htmlAttributes: new
                                     {
                                         @class = "form-control",
                                         @id = "idcliente",
                                         data_fv_numeric_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe elegir el cliente",
                                         required = "required",
                                         data_fv_row = ".dobleEntrada"
                                     })
                            </div><!-- /.col -->
                        </div>
                        <div class="dobleEntrada">
                            <label class="col-md-2 control-label no-clear-md">FOPD</label>
                            <div class="col-md-4">
                                @Html.EditorFor(
                                    model => model.ID_articulo,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @text = "number",
                                            @id = "idarticulo",
                                            data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el identificador de artículo",
                                            required = "required",
                                            data_fv_numeric_message = "<i class='glyphicon glyphicon-info-sign'></i> El identificador de artículo debe ser numérico",
                                            data_fv_numeric = "true",
                                            data_fv_row = ".dobleEntrada"
                                        }
                                    })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2">Descripción</label>
                        <div class="col-md-10">
                            @Html.EditorFor(
                                 model => model.Descripcion,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         @id = "descripcion",
                                         data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la descripción",
                                         required = "required"
                                     }
                                 })
                        </div><!-- /.col -->
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <div class="dobleEntrada">
                            <label class="control-label col-md-2">Precio Costo</label>
                            <div class="col-md-4">
                                @Html.EditorFor(
                             model => model.Costo,
                             new
                             {
                                 htmlAttributes = new
                                 {
                                     @class = "form-control",
                                     @id = "Costo",
                                     //data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el costo",
                                     //required = "required",
                                     data_fv_row = ".dobleEntrada"
                                 }
                             })
                            </div>
                        </div>
                        <div class="dobleEntrada">

                            <label class="control-label col-md-2 no-clear-md">Precio Lista</label>
                            <div class="col-md-4">
                                @Html.EditorFor(
                                 model => model.Precio_lista,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control",
                                         @id = "precioLista",
                                         data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el precio de lista",
                                         data_fv_numeric_message = "<i class='glyphicon glyphicon-info-sign'></i> El precio de lista debe ser numérico",
                                         required = "required",
                                         data_fv_row = ".dobleEntrada"
                                     }
                                 })
                            </div>
                        </div>
                    </div><!-- /.form-group -->

                    <div class="form-group">
                        <div class="dobleEntrada">
                            <label class="control-label col-md-2">Fecha Precio Lista:</label>
                            <div class="col-md-4 input">
                                @Html.EditorFor(
                                 model => model.Precio_fecha,
                                 new
                                 {
                                     htmlAttributes = new
                                     {
                                         @class = "form-control  pull-right",
                                         id = "fechaPrecioLista",
                                         data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la fecha límite del precio de lista",
                                         data_fv_date_message = "<i class='glyphicon glyphicon-info-sign'></i> La fecha límite del precio de lista debe ser una fecha válida",
                                         data_fv_date_format = "DD/MM/YYYY",
                                         data_fv_date = true,
                                         required = "required",
                                         placeholder = "dd/mm/yyyy",
                                         type = "text",
                                         data_fv_row = ".dobleEntrada"
                                     }
                                 })
                                <!--i class="input-group-addon fa fa-calendar"></!i-->
                            </div><!-- /.input group -->
                        </div>
                        @*<div class="dobleEntrada">
                                <label class="control-label col-md-2 no-clear-md">IVA</label>
                                <div class="col-md-1 checkbox">
                                    <div class="radio">
                                        @Html.RadioButtonFor(model => model.IVA, "Si", new
                                   {
                                       data_fv_choice = "true",
                                       data_fv_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe seleccionar una opción",
                                       data_fv_row = ".dobleEntrada",
                                       label = "Si",
                                       @class = "styled",
                                       @id = "ivaSi"

                                   })
                                        <label for="ivaSi">Si</label>
                                    </div>

                                    <div class="radio">
                                        @Html.RadioButtonFor(model => model.IVA, "No", new
                                   {
                                       label = "Si",
                                       @class = "styled",
                                       @id = "ivaNo"

                                   })
                                        <label for="ivaNo">No</label>
                                    </div>
                                </div>
                            </div>
                            <div class="dobleEntrada">
                                <label class="control-label col-md-2 no-clear-md">Fazón</label>
                                <div class="col-md-1 checkbox">
                                    <div class="radio">

                                        @Html.RadioButtonFor(model => model.Fazon, "No", new
                                   {

                                       data_fv_choice = "true",
                                       data_fv_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe seleccionar una opción",
                                       data_fv_row = ".dobleEntrada",
                                       label = "Si",
                                       @class = "styled",
                                       @id = "fazonSi"

                                   })
                                        <label for="fazonSi">Si</label>
                                    </div>
                                    <div class="radio">

                                        @Html.RadioButtonFor(model => model.Fazon, "No", new
                                   {
                                       label = "No",
                                       @class = "styled",
                                       @id = "fazonNo"
                                   })
                                        <label for="fazonNo">No</label>
                                    </div>

                                </div> /.form-group
                            </div>*@
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <div class="dobleEntrada">
                            <label class="control-label col-md-2">Stock</label>
                            <div class="col-md-4">
                                @Html.EditorFor(
                                model => model.Stock, new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control",
                                        @id = "Stock",
                                        data_fv_row = ".dobleEntrada"
                                    }
                                })
                            </div><!-- /.col -->
                        </div>
                        <div class="dobleEntrada">

                            <label class="control-label col-md-2 no-clear-md">Stock Minimo</label>
                            <div class="col-md-4">
                                @Html.EditorFor(
                            model => model.Stock_minimo, new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control",
                                    @id = "Stock_minimo",
                                    data_fv_row = ".dobleEntrada"
                                }
                            })
                            </div>
                        </div>

                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-label col-md-2">Cantidad por bulto</label>
                        <div class="col-md-4">
                            @Html.EditorFor(
                                model => model.Cant_x_bulto,
                                new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control",
                                        @id = "cantXBulto",
                                        data_fv_number_message = "<i class='glyphicon glyphicon-info-sign'></i> La cantidad por bulto debe ser numérica",
                                        @text = "number"
                                    }
                                })
                        </div>
                        <label class="control-label col-md-2 no-clear-md">Tamaño Caja</label>
                        <div class="col-md-4">
                            @Html.EditorFor(
                                model => model.Tamaño_caja,
                                new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control",
                                        @id = "tamanioXCaja",
                                        data_fv_number_message = "<i class='glyphicon glyphicon-info-sign'></i> El tamaño de la caja debe ser numérico",
                                        @text = "number"
                                    }
                                })
                        </div><!-- /.col -->
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-label col-md-2">Tiraje Term. por Hora</label>
                        <div class="col-md-4">
                            @Html.EditorFor(
                                model => model.Tiraje_term_x_hora,
                                new
                                {
                                    htmlAttributes = new
                                    {
                                        @class = "form-control",
                                        @id = "tirajeTermXHora",
                                        data_fv_number_message = "<i class='glyphicon glyphicon-info-sign'></i> El tiraje por hora debe ser numérico",
                                        @text = "number"
                                    }
                                })
                        </div>
                        <label class="control-label col-md-2 no-clear-md">Tiraje troquel por hora</label>
                        <div class="col-md-4">
                            @Html.EditorFor(
                                    model => model.Tiraje_troquel_x_hora,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @id = "tirajeTroquelXHora",
                                            data_fv_number_message = "<i class='glyphicon glyphicon-info-sign'></i> El tiraje del troquel por hora debe ser numérico",
                                            @text = "number",
                                            @rows = 5
                                        }
                                    })
                        </div><!-- /.col -->
                    </div><!-- /.form-group -->
                    <div class="form-group">
                        <label class="control-label col-md-2">Observaciones</label>
                        <div class="col-md-10">
                            @Html.EditorFor(
                            model => model.Observaciones,
                            new
                            {
                                htmlAttributes = new
                                {
                                    @class = "form-control",
                                    @id = "observaciones",
                                    data_fv_stringlength_message = "<i class='glyphicon glyphicon-info-sign'></i> Observaciones no válidas",
                                    data_fv_stringlength_min = 0,
                                    data_fv_stringlength = "true"
                                }
                            })
                        </div><!-- /.col -->
                    </div><!-- /.form-group -->
                </div>
            </div>

            <div>
                <em data-bind="validationMessage: detalle"></em>
            </div>

            <button data-bind="click: agregarDetalle" class="btn btn-addmore">Agregar Componente</button>

                    <br /><br />

                        <div data-bind="foreach: detalle">
                            <div class="box box-componente box-solid">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Componente</h3>
                                </div><!-- /.box-header -->
                                <div class="box box-default box-body">
                                    <div class="form-group">
                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label">Material</label>
                                            <div class="col-md-4">
                                                <select required="required"
                                                        data-bind="value: ID_material, options: window.materiales, optionsText: 'Descripcion', optionsValue: 'ID_material', attr: { name: 'Componente[' + $index() + '].ID_material' }"
                                                        class="form-control"></select>
                                                <em data-bind="validationMessage: ID_material"></em>
                                            </div>
                                        </div>
                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label no-clear-md">Ciclos</label>
                                            <div class="col-md-4">
                                                <input type="text"
                                                       required="required"
                                                       min="0"
                                                       max="999999999"
                                                       data-bind="value: Ciclos, attr: { name: 'Componente[' + $index() + '].Ciclos' }"
                                                       data-fv-numeric-message="debe ser numerico"
                                                       class="form-control" />
                                                <em data-bind="validationMessage: Ciclos"></em>
                                            </div>
                                        </div>
                                    </div><!-- /.form-group -->

                                    <div class="form-group">
                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label">Bocas</label>
                                            <div class="col-md-4">
                                                <input type="number" required="required"
                                                       class="form-control"
                                                       min="1" max="999999999" data-bind="value: Bocas, attr: { name: 'Componente[' + $index() + '].Bocas' }" />
                                                <em data-bind="validationMessage: Bocas"></em>
                                            </div>
                                        </div>
                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label no-clear-md">Espesor</label>
                                            <div class="col-md-4">
                                                <input type="number"
                                                       class="form-control"
                                                       required="required" min="0" max="999999999" data-bind="value: Espesor, attr: { name: 'Componente[' + $index() + '].Espesor' }" />
                                                <em data-bind="validationMessage: Espesor"></em>
                                            </div>
                                        </div>
                                    </div><!-- /.form-group -->


                                    <div class="form-group">
                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label no-clear-md">Color</label>
                                            <div class="col-md-4">
                                                <input type="number"
                                                       class="form-control"
                                                       required="required" min="0" max="999999999" data-bind="value: Color, attr: { name: 'Componente[' + $index() + '].Color' }" />
                                                <em data-bind="validationMessage: Color"></em>
                                            </div>
                                        </div>
                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label no-clear-md">Peso</label>
                                            <div class="col-md-4">
                                                <input type="number"
                                                       class="form-control"
                                                       required="required" min="0" max="999999999" data-bind="value: Peso, attr: { name: 'Componente[' + $index() + '].Peso',  id:'Componente[' + $index() + '].Peso' }" 
                                                      
                                                       readonly/>
                                                <em data-bind="validationMessage: Peso"></em>
                                            </div>
                                        </div>
                                    </div><!-- /.form-group -->
                                    <div class="form-group">
                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label no-clear-md">Marco</label>
                                            <div class="col-md-4">

                                                <select required="required" onchange="onChangeMarco(this)" class="form-control" data-bind="value: ID_marco, options: window.marcos, optionsText: 'Descripcion', optionsValue: 'ID_marco', attr: { name: 'Componente[' + $index() + '].ID_marco', id: 'Componente[' + $index() + '].ID_marco' }"></select>
                                                <em data-bind="validationMessage: ID_marco"></em>
                                            </div>
                                        </div><!-- /.dobleEntrada -->



                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label no-clear-md">Matriz</label>
                                            <div class="col-md-4">
                                                <select required="required" class="form-control" data-bind="value: ID_matriz, options: window.matriz, optionsText: 'Codigo', optionsValue: 'ID_matriz', attr: { name: 'Componente[' + $index() + '].ID_matriz', id: 'Componente[' + $index() + '].ID_matriz'}"></select>
                                                <em data-bind="validationMessage: ID_matriz"></em>
                                            </div>
                                        </div>
                                    </div><!-- /.form-group -->

                                    <div class="form-group">
                                        <div class="dobleEntrada">
                                            <label class="col-md-2 control-label no-clear-md">Cortante</label>
                                            <div class="col-md-4">

                                                <select required="required" class="form-control" data-bind="value: ID_cortante, options: window.cortante, optionsText: 'Descripcion', optionsValue: 'ID_cortante', attr: { name: 'Componente[' + $index() + '].ID_cortante' }"></select>
                                                <em data-bind="validationMessage: ID_cortante"></em>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <button class="btn btn-danger pull-right" data-bind="click: $root.eliminarDetalle">Eliminar</button>
                                        </div>
                                    </div><!-- /.form-group -->
                                </div>
                            </div>
                        </div>

                        <br />

                        <div class="form-group">

                            <input type="submit" value="Generar" data-bind="enable: canCreate()" class="btn btn-add" /> |
                            <button type="button" class="btn btn-cancel ">@Html.ActionLink("Cancelar", "Index")</button>


                        </div>






        }

    </section>
</div><!-- /.content-wrapper -->

<script>
    $(document).ready(function () {
        $('#form')
            .formValidation({
                framework: 'bootstrap',
                icon: {
                    valid: 'glyphicon glyphicon-ok',
                    invalid: 'glyphicon glyphicon-remove',
                    validating: 'glyphicon glyphicon-refresh'
                },
                fields: {
                    Stock: {
                        validators: {
                            numeric: {
                                message: 'El importe no es numerico',
                                // The default separators
                                thousandsSeparator: '',
                                decimalSeparator: ','
                            },
                            notEmpty: {
                                message: 'El campo es requerido'
                            }
                        },
                    },
                    Stock_minimo: {
                        validators: {
                            numeric: {
                                message: 'El importe no es numerico',
                                // The default separators
                                thousandsSeparator: '',
                                decimalSeparator: ','
                            },
                            notEmpty: {
                                message: 'El campo es requerido'
                            }
                        },
                    }
                },

            })


    });
</script>

<script type="text/javascript">
    validarForm('#form');
    inicializarDatePicker('#fechaPrecioLista', false, false);
</script>
<script src="~/Scripts/ArticuloCreateViewModel.js"></script>
<script src="~/Scripts/knockout-3.4.0.js"></script>
<script src="~/Scripts/knockout.validation.js"></script>

<script type="text/javascript">
    // catálogo de productos que se utiliza para llenar el <select /> de productos de cada detalle
    var materiales = JSON.parse('@Html.Raw(Json.Encode(ViewBag.Mat_Descripcion))');

    // catálogo de productos que se utiliza para llenar el <select /> de productos de cada detalle
    var marcos = JSON.parse('@Html.Raw(Json.Encode(ViewBag.Marco))');

    var matriz = JSON.parse('@Html.Raw(Json.Encode(ViewBag.Matriz))');

    var cortante = JSON.parse('@Html.Raw(Json.Encode(ViewBag.cortante))');


    // viewModel con el que haremos el binding de nuestra vista.
    var viewModel = new articuloViewModel();

    // inicializamos la validación de knockout.
    ko.validation.init({ insertMessages: false, parseInputAttributes: true });

    // aplicamos el viewModel a nuestra vista.
    ko.applyBindings(viewModel);

</script>
<script>
    function onChangeMarco(sel) {
        
        
        var strSelected = sel.value;
        
        debugger;
        @*$.ajax({
            type: "POST",
            url: "@Url.Action("obtenermarco", "Articulos")",
            data: "{'idCliente': " + strSelected + "}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
            if (data != null) {
                $('#CUIT').val(data.Documento);
                $('#TipoResp').val(data.TipoResponsable)
                $("#DiasFF").val(data.DiasFF);
                $("#Dias_Cheque").val(data.Dias_Cheque);

                var select = $("#Articulos");

                for (var articulo in data.Articulos) {

                    var option = document.createElement('option');
                    option.innerHTML = data.Articulos[articulo].Descripcion;
                    option.value = data.Articulos[articulo].ID_articulo;
                    select.append(option);
                }
            }
        },
        error: function (request, status, error) {
            console.log(error);
            console.log(request.responseText);
        }*@
    };
    
</script>
