@model Blibox.Articulo

@{
    ViewBag.Title = "Delete";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Articulos</a></li>
            <li class="active">bajas</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <div class="box box-blibox box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Estas seguro de eliminar dicho articulo?</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
                <!-- /.box-tools -->
            </div>
            <!-- /.box-header -->

            <div class="box-body">
                <h4>Articulo</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Descripcion)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Descripcion)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Costo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Costo)
                    </dd>

                    @*<dt>
                    @Html.DisplayNameFor(model => model.IVA)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IVA)
                </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Precio_lista)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Precio_lista)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Precio_fecha)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Precio_fecha)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Stock)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Stock)
                    </dd>

                    @*<dt>
                    @Html.DisplayNameFor(model => model.Fazon)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Fazon)
                </dd>*@

                    <dt>
                        @Html.DisplayNameFor(model => model.Stock_minimo)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Stock_minimo)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cant_x_bulto)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cant_x_bulto)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tamaño_caja)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tamaño_caja)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tiraje_term_x_hora)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tiraje_term_x_hora)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tiraje_troquel_x_hora)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tiraje_troquel_x_hora)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Observaciones)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Observaciones)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Cliente.Razon_Social)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Cliente.Razon_Social)
                    </dd>

                </dl>

                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Eliminar" class="btn btn-danger" /> 
                    </div>
                }
            </div>
           </div>
           <button type="button" class="btn btn-cancel ">@Html.ActionLink("Cancelar", "Index")</button>
    </section>
</div><!-- /.content-wrapper -->

@if (ViewBag.Notification != null)
{
    @Html.Raw(ViewBag.Notification);
}