@model PagedList.IPagedList<Blibox.Compras>
@using PagedList.Mvc;
@*@model IEnumerable<Blibox.Cliente>*@

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           Compras <small>Proveedores</small>
        </h1>
        
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Compras")"><i class="fa fa-dashboard"></i>Compras</a></li>
            <li class="active">Compras</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
            
            @{ string currentFilter = ViewBag.CurrentFilter;
                string currentSort = ViewBag.CurrentSort;

                //string proveedorFilter =  ((int)ViewBag.proveedor).ToString();
                //string fechadesdeFilter = ViewBag.fechaDesde;
                //string fechahastaFilter = ViewBag.fechaHasta;

                if (string.IsNullOrEmpty(currentSort))
                {
                    currentSort = "id";
                }
            }
                
                <div class="box box-blibox box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Consulta de Compras a Proveedores</h3>

                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <span class="info-box-icon bg-green"><i class="ion ion-ios-gear-outline"></i></span>
                        <form id="formIndex" method="post" class="form-inline">

                            @*<div class="form-group">
                    <input type="text" name="q" value="@ViewBag.searchQuery" class="search-text form-control" placeholder="Buscar..." />
                </div>*@
                            <div class="col-md-2">
                                @Html.Label("Seleccione Proveedor")
                                @Html.DropDownList("ID_proveedor", (SelectList)ViewBag.ID_proveedor, "Seleccione...", htmlAttributes: new { @class = "form-control" })
                                @*@Html.DropDownListFor(model => model.ID_cliente,"ID_cliente", null, htmlAttributes: new { @class = "form-control" })*@
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Fecha Desde</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.Editor("Fecha Desde",
                                       new
                                       {
                                          
                                           htmlAttributes = new
                                           {
                                               id = "fechadesde",
                                              
                                               @class = "form-control  pull-right",
                                               data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la fecha inicial",
                                               data_fv_date_message = "<i class='glyphicon glyphicon-info-sign'></i> El formato es inválido",
                                               data_fv_date_format = "DD/MM/YYYY",
                                               data_fv_date = true,
                                               //required = "required",
                                               // placeholder = "dd/mm/yyyy",
                                               type = "text",
                                               data_fv_row = ".dobleEntrada"
                                           }
                                       })




                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div><!-- /.col -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Fecha Hasta</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.Editor("Fecha Hasta",
                                       new
                                       {
                                           htmlAttributes = new
                                           {
                                               id = "fechahasta",
                                               value = ViewBag.fechaHasta,
                                               @class = "form-control  pull-right",
                                               data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la fecha final",
                                               data_fv_date_message = "<i class='glyphicon glyphicon-info-sign'></i> El formato es inválido",
                                               data_fv_date_format = "DD/MM/YYYY",
                                               data_fv_date = true,
                                               //required = "required",
                                               placeholder = "dd/mm/yyyy",
                                               type = "text",
                                               data_fv_row = ".dobleEntrada"
                                           }
                                       })

                                    </div><!-- /.input group -->
                                </div><!-- /.form group -->
                            </div><!-- /.col -->
                            <div class="col-md-2">
                                <div class="form-group">
                                    <br/>
                                    <div class="input-group">
                                        <button type="submit" class="btn btn-search">Buscar</button>
                                    </div><!-- /.col -->
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
                <br />

                <div class="box box-blibox box-solid">
                    <div class="box-header with-border">
                        <h3 class="box-title">Movimientos</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                        </div>
                    </div>
                    <div class="box-body">
                        <table class="table table-bordered">
                            <tr>
                                <th>@Html.DisplayName("Fecha")</th>
                                <th>@Html.DisplayName("Razon Social")</th>
                                <th>@Html.DisplayName("Nº factura")</th>
                                <th>@Html.DisplayName("Cantidad")</th>

                                <th>@Html.DisplayName("Neto")</th>
                                <th>@Html.DisplayName("Iva")</th>
                                <th>@Html.DisplayName("Total")</th>
                                <th>@Html.DisplayName("Observaciones")</th>

                              
                               
                            </tr>
                            @foreach (var item in Model)
                            {
                                <tr>
                                
                                    <td>@item.Fecha_compra.Value.ToString("dd/MM/yyyy")</td>
                                    <td>@Html.DisplayFor(model => item.Proveedor.Razon_social)</td>

                                    <td>@Html.DisplayFor(model => item.Nro_factura)</td>
                                
                                    <td>@if (item.Cantidad != null) { @Html.DisplayFor(model => item.Cantidad)}</td>
                                
                                    <td>@if (item.Neto != null){@Html.DisplayFor(model => item.Neto)}</td>
                                
                                    <td>@if (item.IVA != null) {@Html.DisplayFor(model => item.IVA)}</td>
                                
                                    <td>@if (item.Total != null){@Html.DisplayFor(model => item.Total)}</td>
                                
                                    <td>@Html.DisplayFor(model => item.Observaciones)</td>
                                                                  
                                </tr>
                            }


                        </table>
                    </div>
                </div>

                @if (Model.PageCount > 1)
            {
                    <div class="pager">
                        @Html.PagedListPager(Model, page => Url.Action("Index", new
               {
                   page,
                   sortOrder = ViewBag.currentSort,
                   q = ViewBag.CurrentFilter
               }))
                        Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) de @Model.PageCount
                    </div>
                }

        <p>
            <button type="button" class="btn btn-new ">@Html.ActionLink("NUEVA COMPRA", "Create")</button>
        </p>
@if (ViewBag.Total != null) { 
        <div class="col-md-9 col-sm-6 col-xs-12">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Compras</span>
                    <span class="info-box-number">@if (ViewBag.Total != null)
                    {@ViewBag.Total}</span>
                </div>
                <!-- /.info-box-content -->
            </div>
        </div>
}

</section>
</div><!-- /.content-wrapper -->

<script type="text/javascript">
    inicializarDatePicker('#fechadesde', false, false);
    inicializarDatePicker('#fechahasta', false, false);

    $('#fechadesde').change(function () {
        $('#formIndex').formValidation('revalidateField', 'fechadesde');
        //Change code!
    });
    $('#fechahasta').change(function () {
        $('#formIndex').formValidation('revalidateField', 'fechahasta');
        //Change code!
    });
</script>


