@model Blibox.Articulo

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Costo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Costo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IVA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IVA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_lista)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_lista)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio_fecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio_fecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fazon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fazon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock_minimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock_minimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cant_x_bulto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cant_x_bulto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tamaño_caja)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tamaño_caja)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiraje_term_x_hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiraje_term_x_hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tiraje_troquel_x_hora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tiraje_troquel_x_hora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Observaciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Observaciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Razon_Social)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Razon_Social)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
