@model IEnumerable<Blibox.Articulo>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Costo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IVA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_lista)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio_fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fazon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock_minimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cant_x_bulto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tamaño_caja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tiraje_term_x_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tiraje_troquel_x_hora)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Observaciones)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cliente.Razon_Social)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IVA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_lista)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Precio_fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fazon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock_minimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cant_x_bulto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tamaño_caja)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiraje_term_x_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tiraje_troquel_x_hora)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Observaciones)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Razon_Social)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_articulo }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_articulo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_articulo })
        </td>
    </tr>
}

</table>
