@model Blibox.Cliente

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "Clientes")"><i class="fa fa-dashboard"></i> Clientes</a></li>
            <li class="active">@ViewBag.Message</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "form", @class = "form form-horizontal" }))
            {
            @Html.AntiForgeryToken()

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box box-blibox box-solid">
                <div class="box-header with-border">

                    <h3 class="box-title">Nuevo Cliente</h3>
                </div><!-- /.box-header -->

                <div class="box-body">
                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.Label("Razon Social", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                    model => model.Razon_Social,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @id = "razonSocial",
                                            data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la razón social",
                                            required = "required",
                                            data_fv_row = ".dobleEntrada",
                                            autofocus = "autofocus"
                                        }
                                    })
                                </div>
                            </div>
                        </div>

                        <div class="dobleEntrada">
                            @Html.Label("Contacto", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Contacto,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "contacto",
                                                data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el contacto",
                                                required = "required",
                                                data_fv_row = ".dobleEntrada"
                                            }
                                        })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.Label("Domicilio", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                    model => model.Domicilio,
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            @class = "form-control",
                                            @id = "Domicilio",
                                            data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el domicilio",
                                            required = "required",
                                            data_fv_row = ".dobleEntrada"
                                        }
                                    })
                                </div>
                            </div>
                        </div>

                        <div class="dobleEntrada">
                            @Html.Label("Localidad", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Localidad,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "localidad",
                                                data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la localidad",
                                                required = "required",
                                                data_fv_row = ".dobleEntrada"
                                            }
                                        })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.Label("Provincia", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Provincia,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "provincia",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la provincia",
                                                required = "required",
                                            }
                                        })
                                </div>
                            </div>
                        </div>

                        <div class="dobleEntrada">
                            @Html.Label("Codigo Postal", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-home" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Codigo_Postal,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "codigoPostal",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el código postal",
                                                required = "required",
                                            }
                                        })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.Label("Telefono", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Telefono,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "telefono",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_stringlength_min = 0,
                                                data_fv_stringlength = "true",
                                                data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el teléfono",
                                                required = "required",
                                            }
                                        })
                                </div>
                            </div>
                        </div>

                        <div class="dobleEntrada">
                            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Email,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "email",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_stringlength_min = 0,
                                                data_fv_stringlength = "true",
                                                data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar el email",
                                                required = "required",
                                                data_fv_emailAddress_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar un formato válido de email (ejemplo@ejemplo.com)",
                                                data_fv_emailAddress = "true",
                                            }
                                        })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.Label("Vendedor", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    @Html.DropDownList(
                                        "ID_vendedor",
                                        null,
                                        htmlAttributes: new
                                        {
                                            @class = "form-control",
                                            @id = "idVendedor",
                                            data_fv_row = ".dobleEntrada",
                                            data_fv_stringlength_min = 0,
                                            data_fv_stringlength = "true",
                                        })
                                </div>
                            </div>
                        </div>

                        <div class="dobleEntrada">
                            @Html.Label("Comision vendedor", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Comision_vendedor,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "comisionVendedor",
                                                data_fv_row = ".dobleEntrada",
                                                type = "number",
                                                data_fv_numeric = true,
                                                data_fv_numeric_message = "<i class='glyphicon glyphicon-alert-sign'></i> La comisión debe ser numérica"
                                            }
                                        })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="dobleEntrada">
                            <label class="control-label col-md-2">Tipo Responsable</label>
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon">%</div>
                                    @Html.DropDownListFor(
                                        model => model.TipoResponsable,
                                        (SelectList)ViewBag.TipoResponsables,
                                        htmlAttributes: new
                                        {
                                            @class = "form-control",
                                            @id = "tipoResponsables",
                                            data_fv_row = ".dobleEntrada",
                                            data_fv_stringlength_min = 0,
                                            data_fv_stringlength = "true",
                                        })
                                </div>
                            </div>
                        </div>


                        <div class="dobleEntrada">
                            @Html.Label("CUIT", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Documento,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "documento",
                                                data_fv_row = ".dobleEntrada",
                                                type = "number",
                                                data_fv_numeric = "true",
                                                data_fv_numeric_message = "<i class='glyphicon glyphicon-alert-sign'></i> El cuit debe ser numérico",
                                                data_fv_notempty = "true",
                                                data_fv_notempty_message = "<i class='glyphicon glyphicon-alert-sign'></i> Debe ingresar el CUIT",

                                            }
                                        })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.Label("Saldo", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Saldo,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "saldo",
                                                data_fv_row = ".dobleEntrada",
                                                type = "number",
                                                data_fv_numeric = "true",
                                                data_fv_numeric_message = "<i class='glyphicon glyphicon-alert-sign'></i> El saldo debe ser numérico"
                                            }
                                        })
                                </div>
                            </div>
                        </div>


                        <div class="dobleEntrada">
                            @Html.Label("Observaciones", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Observaciones,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "observaciones",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_stringlength_min = 0,
                                                data_fv_stringlength = "true",
                                            }
                                        })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.LabelFor(model => model.Referidos, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Referidos,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "referidos",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_stringlength_min = 0,
                                                data_fv_stringlength = "true",
                                            }
                                        })


                                </div>
                            </div>
                        </div>


                        <div class="dobleEntrada">
                            @Html.LabelFor(model => model.ID_rubro, "Rubro", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    @Html.DropDownList(
                                        "ID_rubro",
                                        null,
                                        htmlAttributes: new
                                        {
                                            @class = "form-control",
                                            @id = "id_rubro",
                                            data_fv_row = ".dobleEntrada",
                                            data_fv_stringlength_min = 0,
                                            data_fv_stringlength = "true",
                                        })
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.LabelFor(model => model.DiasFF, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.DiasFF,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "diasFF",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_stringlength_min = 0,
                                                data_fv_stringlength = "true",
                                            }
                                        })


                                </div>
                            </div>
                        </div>


                        <div class="dobleEntrada">
                            @Html.LabelFor(model => model.Dias_Cheque, "Días Cheque", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-pencil" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Dias_Cheque,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "diasCheque",
                                                data_fv_row = ".dobleEntrada",
                                                type = "number",
                                                data_fv_numeric = "true",
                                                data_fv_numeric_message = "<i class='glyphicon glyphicon-alert-sign'></i> La cantidad de días del cheque debe ser numérico"
                                            }
                                        })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="dobleEntrada">
                            @Html.LabelFor(model => model.Grupo_mailing, "Grupo Mailing", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-envelope" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.Grupo_mailing,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "grupoMailing",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_stringlength_min = 0,
                                                data_fv_stringlength = "true",
                                            }
                                        })


                                </div>
                            </div>
                        </div>

                        <div class="dobleEntrada">
                            @Html.LabelFor(model => model.limite_credito, "Límite Crédito", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                            <div class="col-md-4">
                                <div class="input-group">
                                    <div class="input-group-addon"><i class="fa fa-money" aria-hidden="true"></i></div>
                                    @Html.EditorFor(
                                        model => model.limite_credito,
                                        new
                                        {
                                            htmlAttributes = new
                                            {
                                                @class = "form-control",
                                                @id = "limiteCredito",
                                                data_fv_row = ".dobleEntrada",
                                                data_fv_stringlength_min = 0,
                                                data_fv_stringlength = "true",
                                            }
                                        })


                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="dobleEntrada">
                                @Html.LabelFor(model => model.Fecha_alta, "Fecha de Alta", htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    <div class="input-group">
                                        <div class="input-group-addon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                        @Html.EditorFor(
                                            model => model.Fecha_alta,
                                            new
                                            {
                                                htmlAttributes = new
                                                {
                                                    @class = "form-control",
                                                    @id = "fechaAlta",
                                                    data_fv_row = ".dobleEntrada",
                                                }
                                            })


                                    </div>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Generar" class="btn btn-add" /> |
                <button type="button" class="btn btn-cancel ">@Html.ActionLink("Cancelar", "Index")</button>
            </div>
        }

    </section>
</div><!-- /.content-wrapper -->
<script type="text/javascript">
    validarForm('#form');
    inicializarDatePicker('#fechaAlta', false, false);
</script>