@model Blibox.Pedido

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Pedidos</a></li>
            <li class="active">@ViewBag.Message</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="box box-blibox box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Detalle de Pedido</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                </div>
            </div><!-- /.box-header -->

            <div class="box-body">
                <div class="form-group col-md-12">
                    <div class="dobleEntrada">
                        @Html.LabelFor(model => model.ID_cliente, "Cliente:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Cliente.Razon_Social)" readonly />
                        </div>
                    </div>
                    <div class="dobleEntrada">
                        @Html.LabelFor(model => model.Articulo, "Articulo:", htmlAttributes: new { @class = "control-label col-md-2 no-clear-md" })
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Articulo.Descripcion)" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="dobleEntrada">

                        <label class="col-md-2 control-label">Cantidad pedida:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.cantidad_pedida)" readonly />
                        </div>
                    </div>
                    <div class="dobleEntrada hidden">
                        @Html.LabelFor(model => model.cantidad_entregada, "Cantidad entregada:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <div class="input-group">
                                <input class="form-control" placeholder="@Html.DisplayFor(model => model.cantidad_entregada)" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="dobleEntrada hidden">
                        @Html.LabelFor(model => model.Fecha_pedido, "Fecha pedido:", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-4">
                            <div class="input-group">
                                <input class="form-control" placeholder="@Html.DisplayFor(model => model.Fecha_pedido)" readonly />
                            </div>
                        </div>
                    </div>
                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label no-clear-md">Orden de compra:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Orden_compra)" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">

                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label">Armado:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Armado)" readonly />
                        </div>
                    </div>
                    <div class="dobleEntrada">
                        <label class="control-label col-md-2  no-clear-md">Fecha Armado:</label>
                        <div class="col-md-4 input">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Fecha_armado)" readonly />
                            <!--i class="input-group-addon fa fa-calendar"></!i-->
                        </div><!-- /.input group -->
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="dobleEntrada">
                        <label class="control-label col-md-2">Fecha Entrega:</label>
                        <div class="col-md-4 input">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Fecha_entrega)" readonly />
                            <!--i class="input-group-addon fa fa-calendar"></!i-->
                        </div><!-- /.input group -->
                    </div>
                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label no-clear-md">Precio:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Precio)" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label">Observaciones:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Observaciones)" readonly />
                        </div>
                    </div>
                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label no-clear-md">Impreso:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Impreso)" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label">Vendedor:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.ID_vendedor)" readonly />
                        </div>
                    </div>
                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label no-clear-md">Importe matriz:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Importe_matriz)" readonly />
                        </div>
                    </div>
                </div>
                <div class="form-group col-md-12">
                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label">Tipo caja:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Tipo_caja)" readonly />
                        </div>
                    </div>
                    <div class="dobleEntrada">
                        <label class="col-md-2 control-label no-clear-md">Codigo articulo cliente:</label>
                        <div class="col-md-4">
                            <input class="form-control" placeholder="@Html.DisplayFor(model => model.Codigo_articulo_interno_cliente)" readonly />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br />

        @if (ViewBag.entregas != null)
        {
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">Entregas Parciales</h3>
                    <div class="box-tools pull-right">
                        <button id="btnCollapse2" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div>
                <div class="box-body">
                    <table class="table table-bordered table-condensed">
                        <tr>
                           
                            <th>@Html.DisplayName("Id Remito")</th>
                            <th>@Html.DisplayName("Fecha")</th>
                            <th>@Html.DisplayName("Cantidad (kg)")</th>

                        </tr>

                        @foreach (var item in ViewBag.entregas)
                        {
                            <tr>
                               
                                <td>@item.ID_remito</td>
                                <td>@item.Fecha</td>
                                <td>@item.Cantidad</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }

        <hr />
        <div class="col-md-9 col-sm-6 col-xs-12">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Cantidad Pendiente</span>
                    <span class="info-box-number">@if (ViewBag.pendientes != null)
                    { @ViewBag.pendientes }</span>

                </div>

                <!-- /.info-box-content -->

            </div>

        </div>

        <div class="form-group">
            <button type="button" class="btn btn-new ">@Html.ActionLink("Editar", "Edit", new { id = Model.ID_pedido })</button> 
            <button type="button" class="btn btn-cancel ">@Html.ActionLink("Volver", "Index")</button>
        </div>
    </section>
</div><!-- /.content-wrapper -->
