
@model PagedList.IPagedList<Blibox.Models.reporteVentasXArticulo>
@using PagedList.Mvc;
@*@model IEnumerable<Blibox.Cliente>*@

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Reportes <small>Detalle Ventas X Articulos</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "reportes")"><i class="fa fa-dashboard"></i>Reportes </a></li>
            <li class="active">Detalle Ventas X Articulo</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        @{ string currentFilter = ViewBag.CurrentFilter;
            string currentSort = ViewBag.CurrentSort;
            if (string.IsNullOrEmpty(currentSort))
            {
                currentSort = "id";
            } }

        <div class="box box-blibox box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Consulta Ventas por Articulos</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <div class="box-body">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-gear-outline"></i></span>
                <form id="formIndex" method="post" class="form-inline">

                    @*<div class="form-group">
                            <input type="text" name="q" value="@ViewBag.searchQuery" class="search-text form-control" placeholder="Buscar..." />
                        </div>*@
                    <div class="col-md-2">
                        @Html.Label("Id Articulo Desde")
                        @Html.DropDownList("id_articulo_desde", (SelectList)ViewBag.id_articulo, "Todos", htmlAttributes: new { @class = "form-control" })
                        @*@Html.DropDownListFor(model => model.ID_cliente,"ID_cliente", null, htmlAttributes: new { @class = "form-control" })*@
                    </div>

                    <div class="col-md-2">
                        @Html.Label("Id Articulo Hasta")
                        @Html.DropDownList("id_articulo_hasta", (SelectList)ViewBag.id_articulo, "Todos", htmlAttributes: new { @class = "form-control" })
                        @*@Html.DropDownListFor(model => model.ID_cliente,"ID_cliente", null, htmlAttributes: new { @class = "form-control" })*@
                    </div>

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Fecha Desde</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.Editor("Fecha Desde",
            new
            {
                htmlAttributes = new
                {
                    id = "fechadesde",
                    @class = "form-control  pull-right",
                    // data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la fecha inicial",
                    data_fv_date_message = "<i class='glyphicon glyphicon-info-sign'></i> El formato es inválido",
                    data_fv_date_format = "DD/MM/YYYY",
                    data_fv_date = true,
                    //required = "required",
                    //placeholder = DateTime.Now.ToString("dd/MM/yyyy"),
                    type = "text",
                    data_fv_row = ".dobleEntrada"
                }
            })




                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div><!-- /.col -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Fecha Hasta</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.Editor("Fecha Hasta",
            new
            {
                htmlAttributes = new
                {
                    id = "fechahasta",
                    @class = "form-control  pull-right",
                    //   data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la fecha final",
                    data_fv_date_message = "<i class='glyphicon glyphicon-info-sign'></i> El formato es inválido",
                    data_fv_date_format = "DD/MM/YYYY",
                    data_fv_date = true,
                    // required = "required",
                    // placeholder = DateTime.Now.ToString("dd/MM/yyyy"),
                    type = "text",
                    data_fv_row = ".dobleEntrada"
                }
            })

                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div><!-- /.col -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <br />
                            <div class="input-group">
                                <button type="submit" class="btn btn-search">Buscar</button>
                            </div><!-- /.col -->
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <br />

        <div class="box box-blibox box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Detalle Facturas por Articulo</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered">

                    <tr>
                        <th>@Html.DisplayName("Fecha")</th>
                        <th>@Html.DisplayName("Tipo")</th>
                        <th>@Html.DisplayName("Factura Nº")</th>
                        <th>@Html.DisplayName("Id Articulo")</th>
                        <th>@Html.DisplayName("Descripción")</th>
                        <th>@Html.DisplayName("Cantidad")</th>
                        <th>@Html.DisplayName("Importe")</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.fecha.ToString("dd/MM/yyyy")</td>
                            <td>@item.tipo</td>
                            <td>@item.nroFactura</td>
                            <td>@item.idArticulo</td>
                            <td>@item.nombreArticulo</td>
                            <td>@item.cantidad</td>
                            <td>@item.importe</td>
                        </tr>
                    }


                </table>

                <br />

                <div class="row">
                    <div class="col-md-6" style="text-align:left;">

                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="info-box">
                                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-cart-outline"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Total Ventas X Articulos</span>
                                    <span class="info-box-number">
                                        @if (ViewBag.Total != null)
                                        {@ViewBag.Total}
                                    </span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-4"></div>*@
                    <div class="col-md-6" style="text-align:right;">
                        @using (Html.BeginForm("ExportDataTotalVentasXArticulo", "reportes", FormMethod.Post))
                        {
                            <input type="submit" name="btnexportventasxarticulo" value="Exportar" id="exportventasxarticulo" class="btn btn-new" />
                        }
                    </div>
                </div>

            </div>
        </div>

        @if (Model.PageCount > 1)
        {
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("DetalleXArticulo", new
           {
               page,
               sortOrder = ViewBag.currentSort,
               q = ViewBag.CurrentFilter
           }))
                @*Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount*@
            </div>
        }

        @*<hr />
        <div class="col-md-9 col-sm-6 col-xs-12">
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="ion ion-ios-cart-outline"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Total Ventas X Articulos</span>
                    <span class="info-box-number">@if (ViewBag.Total != null) { @ViewBag.Total }</span>

                </div>
            </div>

        </div>*@







</section>
</div><!-- /.content-wrapper -->


<script type="text/javascript">
inicializarDatePicker('#fechadesde', false, false);
    inicializarDatePicker('#fechahasta', false, false);

    $('#fechadesde').change(function () {
        $('#formIndex').formValidation('revalidateField', 'fechadesde');
        //Change code!
    });
    $('#fechahasta').change(function () {
        $('#formIndex').formValidation('revalidateField', 'fechahasta');
        //Change code!
    });

   
</script>



