
@model PagedList.IPagedList<Blibox.Models.reporteIvaVentas>
@using PagedList.Mvc;
@*@model IEnumerable<Blibox.Cliente>*@

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Reportes <small>IVA VENTAS</small>
        </h1>

        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index", "reportes")"><i class="fa fa-dashboard"></i>Reportes </a></li>
            <li class="active">IVA Ventas</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        @{ string currentFilter = ViewBag.CurrentFilter;
            string currentSort = ViewBag.CurrentSort;
            if (string.IsNullOrEmpty(currentSort))
            {
                currentSort = "id";
            } }

        <div class="box box-blibox box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Consulta IVA Ventas</h3>

                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <div class="box-body">
                <span class="info-box-icon bg-green"><i class="ion ion-ios-gear-outline"></i></span>
                <form id="formIndex" method="post" class="form-inline">

                   

                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Fecha Desde</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.Editor("Fecha Desde",
                                    new
                                    {
                                        htmlAttributes = new
                                        {
                                            id = "fechadesde",
                                            @class = "form-control  pull-right",
                                            // data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la fecha inicial",
                                            data_fv_date_message = "<i class='glyphicon glyphicon-info-sign'></i> El formato es inválido",
                                            data_fv_date_format = "DD/MM/YYYY",
                                            data_fv_date = true,
                                            //required = "required",
                                            //placeholder = DateTime.Now.ToString("dd/MM/yyyy"),
                                            type = "text",
                                            data_fv_row = ".dobleEntrada"
                                        }
                                    })




                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div><!-- /.col -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <label>Fecha Hasta</label>
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                @Html.Editor("Fecha Hasta",
            new
            {
                htmlAttributes = new
                {
                    id = "fechahasta",
                    @class = "form-control  pull-right",
                    //   data_fv_notempty_message = "<i class='glyphicon glyphicon-info-sign'></i> Debe ingresar la fecha final",
                    data_fv_date_message = "<i class='glyphicon glyphicon-info-sign'></i> El formato es inválido",
                    data_fv_date_format = "DD/MM/YYYY",
                    data_fv_date = true,
                    // required = "required",
                    // placeholder = DateTime.Now.ToString("dd/MM/yyyy"),
                    type = "text",
                    data_fv_row = ".dobleEntrada"
                }
            })

                            </div><!-- /.input group -->
                        </div><!-- /.form group -->
                    </div><!-- /.col -->
                    <div class="col-md-2">
                        <div class="form-group">
                            <br />
                            <div class="input-group">
                                <button type="submit" class="btn btn-search">Buscar</button>
                            </div><!-- /.col -->
                        </div>
                    </div>

                </form>
            </div>
        </div>
        <br />

        <div class="box box-blibox box-solid">
            <div class="box-header with-border">
                <h3 class="box-title">Rpoerte IVA Ventas</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
                </div>
            </div>
            <div class="box-body">
                <table class="table table-bordered">

                    <tr>
                        <th>@Html.DisplayName("Fecha")</th>
                        <th>@Html.DisplayName("Tipo")</th>
                        <th>@Html.DisplayName("Factura Nº")</th>
                        <th>@Html.DisplayName("Id Clientes")</th>
                        <th>@Html.DisplayName("Razon Social")</th>
                        <th>@Html.DisplayName("Subtotal")</th>
                        <th>@Html.DisplayName("Iva")</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.fecha.ToString("dd/MM/yyyy")</td>
                            <td>@item.tipo</td>
                            <td>@item.nroFactura</td>
                            <td>@item.idCliente</td>
                            <td>@item.razonSocial</td>
                            <td>@item.subTotal</td>
                            <td>@item.iva</td>
                        </tr>
                    }


                </table>

                <hr />
                <div class="col-md-6 col-sm-6 col-xs-12" style="text-align:left;">
                   
                        @using (Html.BeginForm("ExportDataIVAVentas", "reportes", FormMethod.Post))
                        {
                            <input type="submit" name="btnexporttotalventas" value="Exportar" id="exporttotalventas" class="btn btn-new" />
                        }
                   
                
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-blue"><i class="ion ion-ios-cart-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">Subtotal</span>
                            <span class="info-box-number">
                                @if (ViewBag.Subtotal != null)
                                { @ViewBag.Subtotal}
                            </span>

                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="ion ion-ios-cart-outline"></i></span>

                        <div class="info-box-content">
                            <span class="info-box-text">IVA Ventas</span>
                            <span class="info-box-number">
                                @if (ViewBag.IvaVentas != null)
                            { @ViewBag.IvaVentas}
                        </span>

                    </div>
                </div>
            </div>
            </div>
        </div>

        @if (Model.PageCount > 1)
        {
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("IVAVentas", new
           {
               page,
               sortOrder = ViewBag.currentSort,
               q = ViewBag.CurrentFilter
           }))
                Página @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        }

       







    </section>
</div><!-- /.content-wrapper -->


<script type="text/javascript">
inicializarDatePicker('#fechadesde', false, false);
    inicializarDatePicker('#fechahasta', false, false);

    $('#fechadesde').change(function () {
        $('#formIndex').formValidation('revalidateField', 'fechadesde');
        //Change code!
    });
    $('#fechahasta').change(function () {
        $('#formIndex').formValidation('revalidateField', 'fechahasta');
        //Change code!
    });

    @*function onChangeCliente() {

        var strSelected = "";
        $("#ID_cliente option:selected").each(function () {
            strSelected += $(this)[0].value;
        });
        $.ajax({
            type: "POST",
            url: "@Url.Action("obtenerDatosCliente", "Factura")",
            data: "{'idCliente': " + strSelected + "}",
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
            if (data != null) {

                var select = $("#Articulos");

                for (var articulo in data.Articulos) {

                    var option = document.createElement('option');
                    option.innerHTML = data.Articulos[articulo].Descripcion;
                    option.value = data.Articulos[articulo].ID_articulo;
                    select.append(option);

                }

            }
        },
        error: function (request, status, error) {
            alert(request.responseText);
        }
    });
    }*@

    //onChangeCliente();
</script>




