@model PagedList.IPagedList<Blibox.Marco>
@using PagedList.Mvc;

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            @ViewBag.Message
        </h1>
        <ol class="breadcrumb">
            <li><a href="@Url.Action("Index","Marcos")"><i class="fa fa-dashboard"></i> Marcos</a></li>
            <li class="active">@ViewBag.Message</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">

        <p>
            <button type="button" class="btn btn-info ">@Html.ActionLink("NUEVO MARCO", "Create")</button>
        </p>

        @{ string currentFilter = ViewBag.CurrentFilter;
            string currentSort = ViewBag.CurrentSort;
            if (string.IsNullOrEmpty(currentSort))
            {
                currentSort = "id";
            } }

        <div class="search-box">
            <form class="form-inline">
                <div class="form-group">
                    <input type="text" name="q" value="@ViewBag.searchQuery" class="search-text form-control" placeholder="Buscar..." />
                </div>
                <button type="submit" class="btn btn-info">Buscar</button>
            </form>
        </div>
        <br />
        <div class="box">
            <div class="box-header with-border">
                <h3 class="box-title">Marcos</h3>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>@Html.DisplayName("ID Marco")</th>
                    <th>@Html.DisplayName("Descripcion")</th>
                    <th>@Html.DisplayName("Ancho")</th>
                    <th>@Html.DisplayName("Largo")</th>
                    <th>@Html.DisplayName("Observaciones")</th>
                    <th>OPCIONES</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(model => item.ID_marco)</td>
                        <td>@Html.DisplayFor(model => item.Descripcion)</td>
                        <td>@Html.DisplayFor(model => item.Ancho)</td>
                        <td>@Html.DisplayFor(model => item.Largo)</td>
                        <td>@Html.DisplayFor(model => item.Observaciones)</td>
                        <td>
                           
                            <a href="@Url.Action("Details", new { id = item.ID_marco })" title="Ver" class="">
                                <i class="glyphicon glyphicon-eye-open"></i>
                                <span class="sr-only">Ver</span>
                            </a>
                            <a href="@Url.Action("Edit", new { id = item.ID_marco })" title="Editar">
                                <i class="glyphicon glyphicon-edit"></i>
                                <span class="sr-only">Editar</span>
                            </a>
                            <a href="@Url.Action("Delete", new { id = item.ID_marco })" title="Eliminar">
                                <i class="glyphicon glyphicon-remove"></i>
                                <span class="sr-only">Eliminar</span>
                            </a>
                        
                        </td>
                    </tr>
                }
            </table>
        </div>
        @if (Model.PageCount > 1)
        {
            <div class="pager">
                @Html.PagedListPager(Model, page => Url.Action("Index", new
           {
               page,
               sortOrder = ViewBag.currentSort,
               q = ViewBag.CurrentFilter
           }))
                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
            </div>
        }

    </section>
</div><!-- /.content-wrapper -->
